backcall==0.1.0
beautifulsoup4==4.8.0
bs4==0.0.1
decorator==4.4.0
ipdb==0.12.2
ipython==7.8.0
ipython-genutils==0.2.0
jedi==0.15.1
lxml==4.4.1
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
pkg-resources==0.0.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
Pygments==2.4.2
six==1.12.0
soupsieve==1.9.3
traitlets==4.3.2
wcwidth==0.1.7
